[Unit]
Description=Kafka
Before=
After=network.target

[Service]
Type=simple
User=kafka
ExecStart={{ kafka.landing_zone }}/{{ kafka.kafka_home }}/bin/kafka-server-start.sh {{ kafka.landing_zone }}/{{ kafka.kafka_home }}/config/server.properties
Restart=on-abort

[Install]
WantedBy=multi-user.target
